
    <div style="height: 120px; padding-top: 30px; background-image: linear-gradient(#7e7ed0, white)" class="container-fluid text-center" id="searchBar">
        <p style="padding-top: 25px; font-size: 45px; display:inline-block; float: left;">jOOle</p>
        <div style="padding-top: 45px;">

          
        </div>
    </div>